{% extends 'base.html' %}


{% block content%}

    <style>
        table, th, td {
            padding: 25px;
            font-family:fantasy;
        }
        table {
            border-spacing: 15px;
        }
    </style>

    <div>
        <h1 style="font-family:fantasy;" >My Projects</h1>

        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if project_list %}
            <table>
                <tr>
                    <th> Name</th>
                    <th> Number of tasks</th>
                </tr>
                {% for project in project_list %}
                    <tr>
                        <td><a href="{% url 'show_project' project.pk %}"> {{project.name}}</a> </td>
                        <td>{{project.tasks.all | length }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p> You are not assigned to any projects</p>
        {% endif %}
    </div>


{% endblock content %}
